body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

h1 {
    font-size: 30pt;
}

p {
    margin: 1em 0;
}

span {
    font-style: italic;
}

div {
    color: red;
}

blockquote {
    font-weight: bold;
}